extends layout


doctype html
html(lang='en')
  head
    title Jade
  body
    .labcheck
      h1 Enter your api url
      p Include the full URL, stopping right before the /message keywoard
      input.labcheckInput(value='https://achterklapweareimdbe.goodbytesdev.now.sh/api/v1', type='text', placeholder='https://my-lab5-api.herokuapp.com/api/v1')
      button.btnCheck Check my API routes
      .labcheck__output
        p.labcheck__output1
          strong GET messages 
          span ...
        p.labcheck__output2
          strong GET messages/:id 
          span ...
        p.labcheck__output3
          strong POST messages 
          span ...
        p.labcheck__output4
          strong PUT messages/:id 
          span ...
        p.labcheck__output5
          strong DELETE messages/:id 
          span ...
        p.labcheck__output6
          strong GET messages?user=pikachu 
          span ...
