*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
h1, h2, h3, label, p{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    position: relative;
    top: -30px;
    left: -220px;
    color: white;
    font-size: 50px;
}